<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Plaid Quickstart Example</title>
<!-- <link rel="stylesheet" href="https://threads.plaid.com/threads.css"> -->

<link rel="stylesheet" type="text/css" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<% include header %>
</head>
<body>
    <main class="container">
        <% include navbar %>
        <div class="grid">
            <div class="header">
                <div class="logo">
                    <i class="fas fa-wallet fa-lg"></i><a href="">The Budget Hobo</a>
                </div>
                <div class="login">
                    <a id="/logout" href="/logout">Logout</a>
                </div>
            </div>
                <div class="welcomeBack">
                    <h3>Welcome back, <%= name %></h3> 
                </div>
                <div id="app" display="none" class="connected-view">
                        <!-- Auth -->
                    <div class="row_container">
                        <div class="data_row">
                            <!-- <div class="item-data-row__right">
                                <button id="get-auth-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
                            </div> -->
                            <div class="table_container">
                                <table><tbody id="get-auth-data"></tbody></table>
                            </div>
                        </div>
                    </div>
                        <!--Transactions -->
                    <div class="row_container">
                        <div class="data_row">
                            <!-- <div class="item-data-row__right">
                                <button id="get-transactions-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
                            </div> -->
                            <div class="table_container">
                                <table><tbody id="get-transactions-data"></tbody></table>
                            </div>
                        </div>
                    </div>
                        <!-- Balance -->
                    <div class="row_container">
                        <div class="data_row">
                            <!-- <div class="item-data-row__right">
                                <button id="get-balance-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
                            </div> -->
                            <div class="table_container">
                                <table>
                                    <tbody id="get-balance-data"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <!-- Assets (hidden unless 'assets' is included in the product list) -->
                    <div id='assets' class="item-data-row" style='display:none;'>
                        <div class="item-data-row__center">
                            <div class="item-data-row__nicename">Assets</div>
                            <div class="item-data-row__endpoint">/asset_report/*</div>
                            <div class="item-data-row__description">Create a point-in-time snapshot of a user's assets.</div>
                        </div>
                        <div class="item-data-row__right">
                            <button id="get-assets-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
                            <a id="download-assets-pdf-btn" class="button button--is-small button--is-primary button--is-full-width" style="display: none; margin: 10px 0px;";>Download as PDF</a>
                        </div>
                        <div class="item-data-row__response">
                            <table><tbody id="get-assets-data"></tbody></table>
                        </div>
                    </div>
                </div>
            </div>
<<<<<<< HEAD
=======
            </div>
>>>>>>> ron
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<<<<<<< HEAD
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script src="../public/main.js"></script>
    <script src="/bank.js"></script>
    <script>
        
//     (function($){
//         let products = ('PLAID_PRODUCTS', 'transactions').split(',');
        
//         var handler = Plaid.create({
//             apiVersion: 'v2',
//             clientName: 'The Budget Hobo',
//             env: 'sandbox',
//             product: products,
//             key: '6131daca2965f9a28481697d1aa0d4',
//             onSuccess: (public_token)=>{
//                 $.post('/get_access_token', {
//                     public_token: public_token
//                 }),(data)=> {
//                     $('.head').fadeOut('fast', ()=>{

//                     })
//                 }
//             }
//         })
//         var accessToken = qs('access_token');
//         if (accessToken != null && accessToken != '') {
//             $.post('/set_access_token', {
//             access_token: accessToken
//             }, (data)=>{

//             });
//         }
//         $('#link_btn').click(()=> {
//             console.log('hello')
//             handler.open();
//         });
//     })(jQuery)
//         function qs(key) {
//         key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx meta chars
//         var match = location.search.match(new RegExp("[?&]"+key+"=([^&]+)(&|$)"));
//         return match && decodeURIComponent(match[1].replace(/\+/g, " "));
//         }

//         // $('#get-auth-btn').click(()=> {
//         $.get('/auth', (data)=> {
//             $('#get-auth-data').slideUp(function() {
//                 var authData = data.auth;
//                 var isAch = authData.numbers.ach.length > 0;
//                 var routingLabel = isAch ? 'Routing #' : 'Institution and Branch #';

//                 var html = `<tr><th><strong>Name</strong></th><th><strong>Balance</strong></th><th><strong>Account #</strong></th><th><strong>${routingLabel}</strong></th></tr>`;
//                 if (isAch) {
//                     authData.numbers.ach.forEach((achNumbers, idx)=> {
//                     // Find the account associated with this set of account and routing numbers
//                     var account = authData.accounts.filter(function(a) {
//                     return a.account_id == achNumbers.account_id;
//                     })[0];
//                     html += `<tr>
//                         <td>${account.name}</td>
//                         <td>${(account.balances.available != null ? account.balances.available : account.balances.current)}</td>
//                         <td>${achNumbers.account}</td>
//                         <td>${achNumbers.routing}</td>
//                         </tr>`;
//                     });
//                 } else {
//                     authData.numbers.eft.forEach((eftNumber, idx)=> {
//                     // Find the account associated with this set of account and routing numbers
//                     var account = authData.accounts.filter(function(a) {
//                     return a.account_id == eftNumber.account_id;
//                 })[0];
//                     html += `<tr>
//                         <td>${account.name}</td>;
//                         <td>${account.balances.available != null ? account.balances.available : account.balances.current}</td>
//                         <td>${eftNumber.account}</td>;
//                         <td>${eftNumber.institution}${eftNumber.branch}</td>;
//                         </tr>`;
//                     });
//                 }
//             $(this).html(html).slideDown();
//             });
//         });
//     // });

//     // $('#get-transactions-btn').click(()=>{
//       $.get('/transactions',(data)=>{
//             $('#get-transactions-data').slideUp(function() {
//                 var html = '<tr><th><strong>Name</strong></th><th><strong>Amount</strong></th><th><strong>Date</strong></th></tr>';
//                 data.transactions.transactions.forEach((txn, idx)=>{
//                 html += `<tr>
//                     <td>${txn.name}</td>
//                     <td>${txn.amount}</td>;
//                     <td>${txn.date}</td>;
//                     </tr>`;
//                 });
//                 $(this).slideUp(function() {
//                 $(this).html(html).slideDown();
//             });
//         });
//     });
// // });
//     // $('#get-balance-btn').click(()=>{
//     $.get('/balance', (data)=>{
//         $('#get-balance-data').slideUp(function() {
//             let balData = data.balance
//             let html = '<tr><th><strong>Name</strong></th><th><strong>Balance</strong></th><th><strong>Subtype</strong></th><th><strong>Mask</strong></th></tr>'
//             balData.accounts.forEach((account, idx)=>{
//                 html += `<tr>
//                     <td>${account.name}</td>
//                     <td>${account.balances.available != null ? account.balances.available : account.balances.current}</td>
//                     <td>${account.subtype}</td>
//                     <td>${account.mask}</td>
//                     <tr>`
//              });
//              $(this).html(html).slideDown();
//         })
//     })
    

    </script>    
=======
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script type="text/javascript" src="bank.js"></script>
>>>>>>> ron
</body>
</html>
