<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>The Budget Hobo</title>
<!-- <link rel="stylesheet" href="https://threads.plaid.com/threads.css"> -->

<link rel="stylesheet" type="text/css" href="styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<% include header %>
</head>
<body>
    <main class="container">
        <% include navbar %>
        <div class="grid">
            <div class="header">
                <div class="logo">
                    <i class="fas fa-wallet fa-lg"></i><a href="">The Budget Hobo</a>
                </div>
                <div class="login">
                    <a id="/logout" href="/logout">Logout</a>
                </div>
            </div>
                <div class="welcomeBack">
                    <h3>Welcome back, <%= name %></h3> 
                </div>
                <div id="app" display="none" class="connected-view">
                        <!-- Auth -->
                    <div class="row_container">
                        <div class="data_row">
                            <!-- <div class="item-data-row__right">
                                <button id="get-auth-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
                            </div> -->
                            <div class="table_container">
                                <table><tbody id="get-auth-data"></tbody></table>
                            </div>
                        </div>
                    </div>
                        <!--Transactions -->
                    <div class="row_container">
                        <div class="data_row">
                            <div class="table_container">
                                <table><tbody id="get-transactions-data"></tbody></table>
                            </div>
                        </div>
                    </div>
                        <!-- Balance -->
                    <div class="row_container">
                        <div class="data_row">
                            <!-- <div class="item-data-row__right">
                                <button id="get-balance-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
                            </div> -->
                            <div class="table_container">
                                <table>
                                    <tbody id="get-balance-data"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <!-- Assets (hidden unless 'assets' is included in the product list) -->
                    <div id='assets' class="item-data-row" style='display:none;'>
                        <div class="item-data-row__center">
                            <div class="item-data-row__nicename">Assets</div>
                            <div class="item-data-row__endpoint">/asset_report/*</div>
                            <div class="item-data-row__description">Create a point-in-time snapshot of a user's assets.</div>
                        </div>
                        <div class="item-data-row__right">
                            <button id="get-assets-btn" class="button button--is-small button--is-default button--is-full-width">Send request</button>
                            <a id="download-assets-pdf-btn" class="button button--is-small button--is-primary button--is-full-width" style="display: none; margin: 10px 0px;";>Download as PDF</a>
                        </div>
                        <div class="item-data-row__response">
                            <table><tbody id="get-assets-data"></tbody></table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script type="text/javascript" src="bank.js"></script>
</body>
</html>
