<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BudgetHobo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> -->
    <% include header %>
</head>
<body>
    <div class="container">
        <!-- navbar -->
            <div class="navbar">
                <div class="profileImage">
                    <img id="profileImage1" src="<%= profileImage %>">
                    <h3><%= name %></h3>
                    
                </div>
                <div class="navs">
                    <div class="list">
                        <div class="listIcon">
                                <span><i class="fas fa-chart-line fa-lg"></i></span>
                                <span><i class="fas fa-dollar-sign fa-lg"></i></span>
                                <span><i class="fas fa-users fa-lg"></i></span>
                                <span><i class="fas fa-piggy-bank fa-lg"></i></span>
                                <span><i class="fas fa-question-circle fa-lg"></i></span>
                        </div>
                        <div class="listName">


                            <a href="#">Dashboard</a>
                            <a href="#">Budget</a>
                            <a href="#">Profile</a>
                            <a href="#">Banks</a>

                            <a href="/dashboard">Dashboard</a>
                            <a href="/budget">Budget</a>
                            <a href="/profile">Profile</a>
                            <a href="/bank">Bank</a>

                            <a href="/howItWorks">How it works</a>


                            <a href="#">How it works</a>

                        </div>
                    </div>
                    <div class="list2">
                            <div class="listIcon2">
                                    <span><i class="fab fa-github fa-lg"></i></span>
                                    <span><i class="fab fa-instagram fa-lg"></i></span>
                                    <span><i class="fab fa-facebook fa-lg"></i></span>
    
                            </div>
                            <div class="listName2">
    
                                <a href="https://github.com/brandonhdez7/backendProject.git" target="_blank">Github</a>
                                <a href="#">Instagram</a>
                                <a href="#">Facebook</a>
                            </div>
                        </div>
                        <div class="list3">
                            <div class="listIcon3">
                                    <span><i class="fas fa-briefcase fa-lg"></i></span>
                                    <span><i class="fas fa-handshake fa-lg"></i></span>
                                    <span><i class="fas fa-cog fa-lg"></i></span>
    
                            </div>
                            <div class="listName3">
    
                                <a href="#">Careers</a>
                                <a href="#">Privacy Agreement</a>
                                <a href="#">Settings</a>
                            </div>
                        </div>
                </div>
            </div>
        <div class="budget">
            <div class="header">
                    <div class="logo">
                        <!-- logo -->
                        <i class="fas fa-wallet fa-lg"></i><a href="/">The Budget Hobo</a>
                    </div>
                    <div class="login">
                        <a href="/logout">Logout</a>
                    </div>
            </div>
            <div class="welcomeBack">
                <h3>Hello <%= name %></h3>
            </div>


            <div class="budgetDisplay">
                <div class="budgetSubmit">
                    <form id="budget-form" class="budget-form" action="/formBudget">
                            <div class="budget-feedback">budget feedback</div>
                        <h1 class="budgetText">Enter your budget</h1>
                        <input type="number" id="budget-input" name="budget-input">
                        <button type="submit" class="budgetButton" id="budget-submit">calculate</button>
                    </form>
                    <form id="expense-form" class="expense-form" action="/formBudget">
                        <div class="expense1">
                                <div class="budget-feedback">budget feedback</div>
                            <h1 class="budgetText">Enter your expense</h1>
                            <input type="text" class="enterExpense" id="expense-input" name="expense-input">
                        </div>
                        <div class="expense2"> 
                            <h1 class="budgetTitle">Enter expense amount</h1>
                            <input type="number" id="amount-input" name="amount-input">
                            <button type="submit" class="budgetButton" id="expense-submit">add expense</button>
                        </div>
                    </form>
                </div>

             <!-- <div class="budgetExpenses"> -->
                    <div class="graphRow2">
                            <div class="graph3">
                                <h1>Total Income</h1>
                                <div class="number1">
                                    <p><span>$</span>0</p> <!-- income -->
                                </div>
                                <hr>
                            </div>
                            <div class="graph4">
                                <h1>Total Expenses</h1>
                                <div class="number1" id="balance">
                                        <p id="expense-amount"><span>$</span>0</p> <!-- expense -->
                                    </div>
                                    <hr>
                            </div>
                            <div class="graph5">
                                <h1>Total Balance</h1>
                                <div class="number1" id="balance">
                                        <p id="balance-amount"><span>$</span>0</p> <!-- balance -->
                                    </div>
                                    <hr>
                            </div>     
                            <div class="graph6">
                                    <h1>Total Budget</h1>
                                    <div class="number1" id="balance">
                                            <p id="budget-amount"><span>$</span>0</p>
                                        </div>
                                        <hr>
                             </div>
                            
        
                     </div>
                     <div class="expense-list" id="expense-list">

                            <div class="expense-list__info d-flex justify-content-between text-capitalize">
                             <h5 class="list-item">expense title</h5>
                             <h5 class="list-item">expense value</h5>
                             <h5 class="list-item"></h5>
                    </div>
                    
            </div>

                    

            </div>
            <div class="budgetGraph">
                <div class="graphRow4">
                    <div class="graph10">
                        <canvas id="myChart3" style="height: 400px" style="width: 400px"></canvas>
                    </div>
                </div>
                
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
        <script src="budget.js"></script>
    </body>
    </html>