<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DashBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> -->
    <% include header %>
</head>
<body>
    <main class="container">
        <!-- navbar -->

            <% include navbar %>

            
            <!-- board -->
            <div class="board">
                <div class="header">
                    <div class="logo">
                        <!-- logo -->
                        <i class="fas fa-wallet fa-lg"></i><a href="/">The Budget Hobo</a>
                    </div>

                    <div class="login">
                        <a href="/logout">Logout</a>
                    </div>
                </div>
                <div class="welcomeBack">
                    <h3>Welcome back, <%= name %></h3> 
                </div>
                <!-- <div class="graphContainer"> -->
                <div class="graphRow1">
                    <div class="graph1" style="height: 175px" style="width: 200px">
                        <canvas id="myChart"></canvas>
                    </div>
                    <div class="graph2" style="height: 175px"  style="width: 200px">
                            <canvas id="myChart2"></canvas>
                    </div>

                </div>
                <!-- </div> -->
                <div class="graphRow2">
                    <div class="graph3">
                        <h1>Total Income</h1>
                        <div class="number1">
                            <p><span>$</span>5,560.00</p> <!-- income -->
                        </div>
                        <hr>
                    </div>
                    <div class="graph4">
                        <h1>Total Expenses</h1>
                        <div class="number1" id="balance">
                                <p id="expense-amount"><span>$</span>300.00</p> <!-- expense -->
                            </div>
                            <hr>
                    </div>
                    <div class="graph5">
                        <h1>Total Balance</h1>
                        <div class="number1" id="balance">
                                <p id="balance-amount"><span>$</span>5,260.00</p> <!-- -->
                            </div>
                            <hr>
                    </div>
                    <div class="graph6">
                            <h1>Total Budget</h1>
                            <div class="number1" id="balance">
                                    <p id="budget-amount"><span>$</span>4,700.00</p>
                                </div>
                                <hr>
                        </div>

                </div>
                <div class="graphRow3">
                    <div class="graph7">
                        <h1>Popular Category</h1>
                        <div class="category">
                            <div class="categoryIcon">
                                <span><i class="fas fa-utensils fa-lg"></i></span>
                                <span><i class="fas fa-gas-pump fa-lg"></i></span>
                                <span><i class="fas fa-home fa-lg"></i></span>
                                <span><i class="fas fa-hand-holding-usd fa-lg"></i></span>
                                <span><i class="fas fa-shopping-bag fa-lg"></i></span>
                            </div>
                            <div class="categoryName">
                                <a href="#">Travel</a>
                                <a href="#">Food</a>
                                <a href="#">Bills</a>
                                <a href="#">Shopping</a>
                                <a href="#">Entertainment</a>
                                <a href="#">Others</a>
                            </div>
                            <div class="categoryPercent">
                                <p>60%</p>
                                <p>40%</p>
                                <p>30%</p>
                                <p>20%</p>
                                <p>14%</p>
                                <p>14%</p>
                            </div>
                        </div>

                    </div>
                    <div class="graph8">
                            <h1>Recent Transactions</h1>
                            <div class="categoryTransaction">
                                <div class="transactionName">
                                    <!-- <a href="#">Octane coffee</a>
                                    <a href="#">Target</a>
                                    <a href="#">Skill Fund loan</a>
                                    <a href="#">QuickTrip gas</a>
                                    <a href="#">LoveShack</a> -->
                                    <table>
                                        <tbody id="transactions">
                                        </tbody>
                                    </table>
                                </div>
                                <!-- <div class="categoryAmount">
                                    <p>$4</p>
                                    <p>$34</p>
                                    <p>$150</p>
                                    <p>$26</p>
                                    <p>$86</p>
                                </div> -->
                            </div>

                    </div>
                    <div class="graph9">

                    </div>
                </div>
            </div>
        </main> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <script src="/main.js"></script>
    <script src="/dashboard.js"></script>
    <script>
        
    </script>
</body>
</html>