<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BudgetHobo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <% include header %>


</head>
<body>
    <div class="container">
    <!-- navbar -->


    <% include navbar %>


<div class="ProfileSettings">
    <div class="header">
        <div class="logo">
        <!-- logo -->
            <i class="fas fa-wallet fa-lg"></i><a href="/">The Budget Hobo</a>
        </div>
        <div class="login">
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="welcomeBack">
        <h3>Hello <%= name %></h3>
    </div>
    <div class="settings">
        
            <!-- <div class="container"> -->
                <div class="jumbotron text-center">
                    <h1>Welcome to the Budget Hobo!!</h1>
                    <p>The Budget Hobo allows you to set up a budget, 
                       download your bank transactions, and view your budget performance.</p>
                    
                    <!-- <div class="container"> -->
                            <!-- <div class="row"> -->
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                    <p>
                                        <img class="img-responsive" src="/public/images/Screen Shot 2019-02-02 at 8.47.17 PM.png"/>
                                    </p>
                                    <ol><strong>Profile</strong> 
                                        <li>Click on the “Profile” link and the Basic Info
                                            panel will be displayed.</li>
                                        <li>Enter your User Name, Email, and password twice</li>
                                        <li>Click on Save to save or cancel to abort</li>                                
                                    </ol>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                    
                                    <p>
                                        <img class="img-responsive img-rounded center-block" src="/public/images/Screen Shot 2019-02-02 at 8.44.57 PM.png"/>
                                    </p>
                    
                                    <ol><strong>Monthly Budget Set Up</strong> 
                                        <li>Enter the amount you want to budget and click on
                                            "calculate" and your total Balance and Total Budget
                                            will auto-fill</li>
                                        <li>As expenses come in, enter or select your 
                                            expense category</li>
                                        <li>Enter your expense amount and click on add expense,
                                            your total expense will increase and your Total Balance
                                            balance will decrease
                                        </li>                                
                                    </ol>
                                </div>
                                
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                    
                                    <p>
                                        <img class="img-responsive img-rounded center-block" src="/public/images/newdashboard.png"/>
                                    </p>
                
                                    <ol><strong>Dashboard</strong>
                                        <li>Click on the Dashboard and you can connect to your bank, 
                                            verify your credentials, and download yor transactions</li>
                                        <li>The dashboard also displays your total incom, expenses,
                                            and total balance</li> 
                                        <li>Graphs are available for a graphical view of 
                                            your spending and budget categories</li>                                                            
                                    </ol>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                                    
                                    <p>
                                        <img class="img-responsive img-rounded center-block" src="/public/images/bank1.png"/>
                                        <img class="img-responsive img-rounded center-block" src="/public/images/bank2.png"/>
                                    </p>
                
                                    <ol><strong>Bank Accounts</strong> 
                                        <li>Click on connect to bank to use your bank credetials to
                                            log in to your bank</li>
                                        <li>Connect to your bank and log in</li> 
                                        <li>Click on download to download your transactions</li>                                                            
                                    </ol>
                                </div>
                                <div class="clearfix visible-md"></div>
                            <!-- </div> -->
            <!-- </div> -->

                </div>
            <!-- </div> -->
    </div> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <script src="/main.js"></script>
</body>
</html>



