<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Budget Hobo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> -->
    <% include header %>


</head>
  <body>
    <div class="head">
      <div class="header">
        <div class="logo">
            <!-- logo -->
            <i class="fas fa-wallet fa-lg"></i><a href="/">The Budget Hobo</a>
        </div>
        <div class="login" >
            <a href="/login">Login</a>
        </div>
      </div>
      <div class="loginPage">
        <div class="banner">
          <h1>Being On A Budget Never Been Easy.</h1>
          <button id="myBtn">Sign Up Now</button>

            <!-- The Modal -->
            <div id="myModal" class="modal">
              <!-- Modal content -->
                <form class="modal-content" action="/registerProcess" method="post">
                  <div class="container1">
                      <span class="close">&times;</span>
                    <h4>Sign Up</h4>
                    <p>Please fill in this form to create an account.</p>
                    <label for="userName"><b>User Name</b></label>
                    <input type="text" placeholder="Enter User Name" name="name" required>

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required>
              
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
              
                    <label>
                      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                    </label>
              
                    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
              
                    <div class="clearfix">
                      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                      <button type="submit" class="signupbtn">Sign Up</button>
                    </div>
                  </div>
                </form>
            </div>

        </div>
        <div class="loginDescription">
          <div class="description1">
            <span><i class="fas fa-piggy-bank"></i></span>
            <p>Guns don't kill people. Chuck Norris kills people, 
              Chuck Norris can break you into two and 
              a half pieces Chuck Norris does not sleep.</p>
          </div>
          <div class="description2">
            <span><i class="fas fa-save"></i></span>
            <p>CNN was originally created as the "Chuck Norris Network" 
              to update Americans with on-the-spot ass kicking in real-time.</p>
          </div>
          <div class="description3">
            <span><i class="fas fa-undo-alt"></i></span>
            <p>The quickest way to a man's heart is with Chuck Norris' fist. 
              Chuck Norris can find the pot of gold at the end of a rainbow.</p>
          </div>
        </div>

        <div class="screenshot">
          <div class="screenshot1">
            <p>Now every day can be Taco Tuesday … in your placeholder text.
                Every day is taco ipsum tuesday. CARNITAS!! I think I’ve overdosed on tacos. 
                Make it a double there pal. Does guac cost extra? BARBACOA!! Josh’s taco shack is 
                the best taco shack. You see, the refried beans are really just the adhesive necessary 
                to apply the soft tortilla to the hard taco shell. 50 cent tacos! I’ll take 30. CARNE ASADA!! 
                I’d have to say, those tacos are on fleek. Tacos al pastor made with adobada meat. CARNE ASADA!! BARBACOA!! TACOS!!
                </p>
                <img src="Screenshot.png">
          </div>
          <div class="screenshot2">
              <img src="Screenshot2.png">
            <p>How do you feel about hard shelled tacos? It’s taco time all the time. 
              It’s a wonderful morning for breakfast tacos. How do you feel about hard shelled tacos? 
              CARNE ASADA!! How bout a gosh darn quesadilla? It’s long been rumored that the chupacabra is 
              really just a crazed man who’s local taco shop went out of business. Make it a double there pal. Shrimp tacos are tasty tacos!</p>            
          </div>
        </div>

      


      <div class="pricing">

        <div class="pricing1">
          <h1>Basic Plan</h1>
          <div class="pricingNumber">
            <h5></h5><h3>Free</h3><h5>/Month</h5>
          </div>
          <div class="pricingList">
            <div class="pricingIcon">
                <span><i class="far fa-check-circle"></i></span>
                <span><i class="far fa-check-circle"></i></span>
                <span><i class="far fa-check-circle"></i></span>
                <span class="red"><i class="far fa-times-circle"></i></span>
                <span class="red"><i class="far fa-times-circle"></i></span>
              </div>
              <div class="pricingName">
                <p>bjbj</p>
                <p>mnmnmnknlk</p>
                <p>non;;kn;k</p>
                <p>ninpnp</p>
                <p>nnnknn</p>
              </div>
            </div>
            <button>Sign Up Now</button>
        </div>

        <div class="pricing2">
          <h1>Limited Plan</h1>
          <div class="pricingNumber">
            <h5>$</h5><h3>8</h3><h5>/Month</h5>
          </div>
          <div class="pricingList">
            <div class="pricingIcon">
                <span><i class="far fa-check-circle"></i></span>
                <span><i class="far fa-check-circle"></i></span>
                <span><i class="far fa-check-circle"></i></span>
                <span><i class="far fa-check-circle"></i></span>
                <span><i class="far fa-check-circle"></i></span>
              </div>
              <div class="pricingName">
                <p>bjbj</p>
                <p>mnmnmnknlk</p>
                <p>non;;kn;k</p>
                <p>ninpnp</p>
                <p>nnnknn</p>
              </div>
            </div>
            <button>Sign Up Now</button>
        </div>

        <div class="pricing3">
          <h1>Premium Plan</h1>
          <div class="pricingNumber">
            <h5>$</h5><h3>18</h3><h5>/Month</h5>
          </div>
          <div class="pricingList">
            <div class="pricingIcon">
              <span><i class="far fa-check-circle"></i></span>
              <span><i class="far fa-check-circle"></i></span>
              <span><i class="far fa-check-circle"></i></span>
              <span><i class="far fa-check-circle"></i></span>
              <span><i class="far fa-check-circle"></i></span>
            </div>
            <div class="pricingName">
              <p>bjbj</p>
              <p>mnmnmnknlk</p>
              <p>non;;kn;k</p>
              <p>ninpnp</p>
              <p>nnnknn</p>
            </div>
          </div>
          <button>Sign Up Now</button>
        </div>
      </div>  
      </div>
    </div>

  <script src="index.js"></script>
  </body>
</html>


