<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%include header%>
</head>
<body>

	<!-- <%include navbar%> -->
	
	<div>
		<h1>Login</h1>
		<!-- <%- msg%> -->
		<form action="/loginProcess" method="post">
			<div class="form-group">
				<label for="email">Email Address:</label>
				<input type="email" class="form-control" name="email">
				<label for="password">Password:</label>
				<input type="password" class="form-control" name="password">
				<button class="btn btn-primary">Login!</button>
			</div>
		</form>
	</div>
	

</body>
</html>