<div class="navbar">
        <div class="profileImage">
            <img id="profileImage1" src="<%= imageProfile %>"/>
            <h3><%= name %></h3>
        </div>
            <div class="navs">
                <div class="list">
                    <div class="listIcon">
                            <span><i class="fas fa-chart-line fa-lg"></i></span>
                            <span><i class="fas fa-dollar-sign fa-lg"></i></span>
                            <span><i class="fas fa-users fa-lg"></i></span>
                            <span><i class="fas fa-piggy-bank fa-lg"></i></span>
                            <span><i class="fas fa-question-circle fa-lg"></i></span>
                    </div>
                    <div class="listName">

                        <a href="/dashboard">Dashboard</a>
                        <a href="/budget">Budget</a>
                        <a href="/profile">Profile</a>
                        <a id="bank" href="/bank">Bank</a>
                        <a href="/howItWorks">How it works</a>
                    </div>
                </div>
                <div class="list2">
                        <div class="listIcon2">
                                <span><i class="fab fa-github fa-lg"></i></span>
                                <span><i class="fab fa-instagram fa-lg"></i></span>
                                <span><i class="fab fa-facebook fa-lg"></i></span>

                        </div>
                        <div class="listName2">

                            <a href="https://github.com/brandonhdez7/backendProject.git" target="_blank">Github</a>
                            <a href="https://www.instagram.com/">Instagram</a>
                            <a href="https://www.faceboook.com/">Facebook</a>
                        </div>
                    </div>
                    <div class="list3">
                        <div class="listIcon3">
                                <span><i class="fas fa-briefcase fa-lg"></i></span>
                                <span><i class="fas fa-handshake fa-lg"></i></span>
                                <span><i class="fas fa-cog fa-lg"></i></span>

                        </div>
                        <div class="listName3">
                            <a href="/careers">Careers</a>
                            <a href="/privacyStatement">Privacy Statement</a>


                            <a href="/profile">Settings</a>
                        </div>
                    </div>
            </div>
        </div>