<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%include header%>
</head>
<body>

	<%loggedIn = false%>
	<%include navbar%>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
                <h1>Register</h1>
                <h2 class="text-danger"><%= msg%></h2>
				<form action="/registerProcess" method="post">
					<div class="form-group">
						<label for="name">Name:</label>
						<input type="text" class="form-control" name="name">
						<label for="email">Email Address:</label>
						<input type="email" class="form-control" name="email">
						<label for="password">Password:</label>
						<input type="password" class="form-control" name="password">
						
						<button class="btn btn-primary">Register!</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
