/* html, body {
  width: 100%;
} */
.grid {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #404040;
  align-items: center;
  color: #d9d9d9; 
  height: max-content;
}

#app {
  display: flex;
  width: 95%;
  border-radius: 5px;
  margin: 5px;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.row_container {
  background-color: #262626;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.data_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100px;
  height: max-content;
  align-items: center;
  border: 1px solid #d9d9d9;
  margin: 20px;
  width: 95%;
}
.table_container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 95%;
  margin: 10px;

}
td, th {
  border-bottom: 1px solid gray;
  padding: 20px;
}
/* .data-row:after {
  clear: both;
  content: '';
  display: table;
} */

.item-data-row:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}



/* .item-data-row__endpoint {
  font-family: "monaco", courier;
  font-size: 14px;
  line-height: 32px;
  display: inline-block;
} */

/* .item-data-row__nicename {
  font-size: 16px;
  line-height: 32px;
  display: inline-block;
  font-weight: 500;
  color: #033156;
} */




/* .item-data-row__center {
  width: 62%;
  float: left;
  padding-left: 16px;
} */



/* .item-data-row__right {
  width: 25%;
  float: left;
} */

/*

Hide things

*/

/* #app {
  display: none;
}
 */

